<div class="fondo">
    <button routerLink="/register">SUBSCRIBE</button>
    <div class="content">
        <div class="img">
            <img src="https://cdn-icons-png.flaticon.com/512/4696/4696777.png" alt="">
        </div>
        <h1>Mate Izi</h1>
        <form class="login">
            <p>Email</p>
            <input type="email">
            <p>Password</p>
            <input type="password">
        </form>
        <p><a routerLink="/forgotPassword">Forgot password</a></p>
    </div>
</div>