.fondo{
    width: 100%;
    min-height: 100vh;
    background-image: url('../../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.content{
    width: 350px;
    height: 500px;
    border-radius: 15px;
    background: #fff;
    flex-direction: column;
}
.content .img{
    width: 100px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
}
.content .img img{
    width: 100%;
}
.content h1{
    text-align: center;
}
.content .login{
    width: 80%;
    margin: auto;
}
.content .login p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.content .login input{
    border: none;
    outline: none;
    background: #eaeaea;
    width: 270px;
    height: 20px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.content a{
    color: #1F2EB4;
}
.content p {
    font-size: 14px;
    padding-top: 10px;
    padding-right: 20px;
    text-align: end;
    font-weight: 600;
}
button{
    position: fixed;
    top: 25px;
    right: 100px;
    border: none;
    width: 110px;
    height: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #1F2EB4;
    color: #fff;
}